.title {
    text-align: center;
}

.card {
   background-color: #2b2b2b;
   border-radius: 10px;
   padding: 20px;
   margin: 60px auto;
   max-width: 700px;
   text-align: center;
   
}

img {
    width:60%;
    border-radius: 10px;
    margin-bottom: 20px;

}
footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
.number-circle {
    display: inline-block;
    background-color: #2b2b2b;
    border: 2px solid #DC143C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}
.number-circle span {
    font-size: 24px;
    color: #DC143C;
    font-weight: bold;
}

