.anime-card {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img {
    width: 70%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.number-circle {
    display: inline-block;
    background-color: #2b2b2b;
    border: 2px solid #ff4949;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
.number-circle span {
    font-size: 24px;
    color: #ff4949;
    font-weight: bold;
}
.colored-line {
    border: none;              
    border-top: 3px solid #ff4949; 
    margin: 10px 0; 
}
.title {
    text-align: center;
}